<form method="post">
  <p><strong> are you sure you want to delete <%= object %> &quest; </strong></p>
  <br />
  <button class="btn btn-danger" type="submit">Yes, Delete</button>
  <a class="btn btn-secondary" href="<%= locals.backUrl || '../' %>">cancel</a>
</form>
