<ul class="sidebar-nav">
  <li><a href="/catalog">Home</a></li>
  <li><a href="/catalog/books">All books</a></li>
  <li><a href="/catalog/authors">All authors</a></li>
  <li><a href="/catalog/genres">All genres</a></li>
  <li><a href="/catalog/book-instances">All book instances</a></li>

  <hr />

  <li><a href="/catalog/authors/create">Create new author</a></li>
  <li><a href="/catalog/genres/create">Create new genre</a></li>
  <li><a href="/catalog/books/create">Create new book</a></li>
  <li><a href="/catalog/book-instances/create">Create new book-instance</a></li>
</ul>
